@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #eff1f5;
  --surface: #e6e9ef;
  --border: #787c99;

  /* Background gradient */
  --bg-grad-l: #a8ff78;
  --bg-grad-m: #91ffa5;
  --bg-grad-r: #78ffd6;

  --card-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: "Roboto";
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #1a1b26;
    --surface: #16161e;

    /* Background gradient */
    --bg-grad-l: #0f2027;
    --bg-grad-m: #203a43;
    --bg-grad-r: #2c5364;
  }
}
